.app-wrapper {
  width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
}

.content {
    margin-top: 90px;
    display: flex;
    height: calc(100vh - 70px);
    gap: 30px;
}

.left-part {
  /* position: fixed; */
  /* top: 70px; */
  width: 60%;
  position: sticky;
  top: 70px;
  height: calc(100vh - 70px);
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  /* pointer-events: none; */
}

.right-part {
  width: 40%;
  height: 100vh;
  overflow-y: auto;
  /* padding: 30px; */
  box-sizing: border-box;
    padding: 30px 40px;
}

.app-line {
  border: none;
  border-top: 1px solid #ddd;
  margin: 75px 0;
}